@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img, video {
    max-width: initial;
    height: initial;
  }
}

.custom-text-stroke {
  text-shadow: -1px -1px 0 gey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

.custom-fade-in {
  animation: customFadeIn 0.4s ease forwards;

}

@keyframes customFadeIn {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Message transition for ContactForm Confirmation page */
@keyframes custom-slideIn {
  from {
    transform: translateX(-500px); 
  }
  to {
    transform: translateX(0); 
  }
}